body
{
	background-color: #2d2d36;
	color: #2d2d36;
	font-family: Arial, sans-serif;
}

h1
{
	font-size: 28px;
	margin-bottom: 0;
}

h2
{
	margin-top: 0;
	font-size: 22px;
}

.titleBar
{
	margin: 0 auto;
	margin-top: 25px;
	padding: 20px;
	border-radius: 25px;
	text-align: center;
	background-color: #f0f0ff;
	width: 980px;
}

.grayscale
{
	filter:brightness(25%) grayscale(50%);
}

.alert
{
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #AAAAFF;
	color: #000066;
}

.grading
{
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #AAFFAA;
	color: #006600;
}

.quizContent
{
	position: relative;
	margin: 0 auto;
	margin-top: 25px;
	padding: 20px;
	border-radius: 25px;
	background-color: #f0f0ff;
	width: 980px;
}

.quizBlock
{
	position: relative;
	top: 0;
	left: 25;
	width: 980px;
	margin: 0 auto;
	margin-top: 20px;
	height: 800px;
}

.quizBlock img
{
	position: absolute;
	transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
	transform-origin: center center;
}

.debuffTimer
{
	position: absolute;
	background-color: #000000;
	color: #FFFFFF;
	border-color: #000000;
	border-width: 2px;
	border: solid;
	font-size: 36px;
	font-weight: bold;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.scoreCount
{
	padding: 5px;
	border-radius: 15px;
	height: 88px;
	width: 100px;
}

.contact
{
	margin: 20 auto;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	background-color: #CCAAFF;
	color: #330066;
}